body {
  background: white;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}



input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 4px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  flex: none;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.card {
  max-height: 400px;
  padding: 10px;
  margin: 10px;
  overflow: scroll;
  min-height: 400px;
}
#title-text {
  font-family: 'Kalam', cursive;
  font-size: 350%;
  margin-bottom: 20px;
}
h3 {
  margin-top: 5px;
}
.row {
  display: flex;
  justify-content: center;
}
h1 {
  color: black;
}
input {
  margin: auto;
}
.btn-space {
  display: flex;
  flex-direction: row;
}
#searchAlcohol{
  margin-right: 15px;
}
#submit-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 6px 52px;
}
#add-ingredients{
  margin-top: 10px;
}
#drink-page {
  padding: 20px;
  text-align: center;
}
.ingredient-button {
  margin-top: 10px;
  margin-right: 6px;
  padding: 6px 40px;
}
.title-detail {
  font-family: 'Kalam', cursive;
  text-align: center;
  font-size: 250%;
  margin-bottom: 20px;
}