body {
  background: white;
}
.card {
  max-height: 400px;
}
.row {
  display: flex;
  justify-content: center;
}
h1 {
  color: black;
}
input {
  margin: auto;
}
.btn-space {
  display: flex;
  flex-direction: row;

}
#searchAlcohol{
  margin-right: 15px;
}
#submit-button {
  display: flex;
  justify-content: center;
  margin: auto;
}
#add-ingredients{
  margin-top:15px;
}
