body {
  background: white;
}
.card {
  max-height: 400px;
  padding: 10px;
  margin: 10px;
}
#title-text {
  font-family: 'Kalam', cursive;
  margin-bottom: 20px;
}
h3 {
  margin-top: 5px;
}
.row {
  display: flex;
  justify-content: center;
}
h1 {
  color: black;
}
input {
  margin: auto;
}
.btn-space {
  display: flex;
  flex-direction: row;

}
#searchAlcohol{
  margin-right: 15px;
}
#submit-button {
  display: flex;
  justify-content: center;
  margin: auto;
}
#add-ingredients{
  margin-top:15px;
}
#drink-page {
  padding: 20px;
}
.ingredient-button {
  margin-top: 6px;
  padding: 8px 40px;
}